<ion-header>
  <ion-toolbar class="gradient-toolbar custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2 class="page-title">Clientes Pendientes de Aprobación</h2>

  <!-- Mensaje de carga -->
  <div *ngIf="!didLoad" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando clientes...</p>
  </div>

  <!-- Tabla de clientes pendientes -->
  <div *ngIf="didLoad && clientes && clientes.length > 0" class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.firstName }} {{ cliente.lastName }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.phone }}</td>
          <td class="actions">
            <button class="approve" (click)="aprobarCliente(cliente.id)">Aprobar</button>
            <button class="reject" (click)="rechazarCliente(cliente.id)">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mensaje si no hay clientes pendientes -->
  <div *ngIf="didLoad && (!clientes || clientes.length === 0)" class="no-clientes">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>No hay clientes pendientes de aprobación.</p>
  </div>

  <hr> <!-- Separador visual -->

  <!-- Sección de Clientes Activos -->
  <h2 class="page-title">Clientes Activos</h2>

  <!-- Tabla de clientes activos -->
  <div *ngIf="didLoad && clientesActivos && clientesActivos.length > 0" class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Direcciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientesActivos">
          <td>{{ cliente.firstName }} {{ cliente.lastName }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.phone }}</td>
          <td>{{ cliente.formattedLocations }}</td>
        
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mensaje si no hay clientes activos -->
  <div *ngIf="didLoad && (!clientesActivos || clientesActivos.length === 0)" class="no-clientes">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>No hay clientes activos.</p>
  </div>

  <!-- Botón de volver -->
  <!--div class="volver">
    <button (click)="navigateToAdmin()">Volver</button>
  </div-->
</ion-content>
