<ion-card color="light" style="width: 77vw; max-width: 600px; margin: 0 auto; position: relative;">
  <ion-item lines="none" color="translucent" class="tittle-item">
    Iniciar sesión 
    <ion-icon name="close" (click)="closeModal()" 
      style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;">
    </ion-icon>
  </ion-item>

  <form [formGroup]="loginForm">
    <!-- Email -->
    <ion-item color="translucent" style="display: flex; flex-direction: column; align-items: flex-start;">
      <ion-label position="floating" style="margin-bottom: 8px;">
        Email <span style="color: red;">*</span>
      </ion-label>
      <ion-input 
        style="border-radius: 20px; width: 100%;"
        placeholder="ejemplo@dominio.com"
        formControlName="email"
        type="email"
        fill="clear">
      </ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item color="translucent" style="display: flex; flex-direction: column; align-items: flex-start;">
      <ion-label position="floating" style="margin-bottom: 8px;">
        Contraseña <span style="color: red;">*</span>
      </ion-label>
      <div style="display: flex; width: 100%; align-items: center;">
        <ion-input
          style="border-radius: 20px; width: 100%;"
          placeholder="Contraseña"
          formControlName="password"
          type="{{ showPassword ? 'text' : 'password' }}"
          fill="clear">
        </ion-input>
        <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" 
          slot="end" 
          (click)="togglePasswordVisibility()" 
          style="margin-left: 10px; cursor: pointer;">
        </ion-icon>
      </div>
    </ion-item>
  </form>

  <!-- Botón de inicio de sesión -->
  <div class="button-container">
    <ion-button class="login-button" (click)="loginUser()">Iniciar sesión</ion-button>
  </div>

  <!-- Enlaces adicionales -->
  <div class="register-button" (click)="openRegisterModal()">
    No tienes cuenta?
  </div>
  <div class="retrieve-password-button" (click)="openChangePasswordModal()">
    Olvidé mi contraseña
  </div>
</ion-card>
