<ion-content class="ion-padding">
  <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <ion-card style="padding: 24px; border-radius: 16px; background-color: black; color: black; width: 100%; max-width: 400px;">


      <ion-card-header>
        <ion-card-title style="text-align: center; color: white;"  >Restablecer Contraseña</ion-card-title>
      </ion-card-header>

      <form [formGroup]="resetForm">
        <ion-item lines="none" style="margin-bottom: 16px; background-color: #f5f5f5; border-radius: 8px;">
          <ion-label position="stacked" style="color: black;">Nueva contraseña</ion-label>
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="newPassword" 
            style="color: black;">
          </ion-input>
          <ion-icon 
            slot="end" 
            name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" 
            (click)="togglePasswordVisibility()" 
            style="cursor: pointer; color: black;">
          </ion-icon>
        </ion-item>
        
        <ion-item lines="none" style="margin-bottom: 24px; background-color: #f5f5f5; border-radius: 8px;">
          <ion-label position="stacked" style="color: black;">Repetir contraseña</ion-label>
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="confirmPassword" 
            style="color: black;">
          </ion-input>
          <ion-icon 
            slot="end" 
            name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" 
            (click)="togglePasswordVisibility()" 
            style="cursor: pointer; color: black;">
          </ion-icon>
        </ion-item>
        
        

        <ion-button expand="block" color="success" (click)="submit()">
          Cambiar contraseña
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>


<!-- Footer con botón para volver -->
<ion-footer style="background: #f4f4f4; padding: 16px; border-top: 1px solid #ddd;">
  <div style="text-align: center;">
    <ion-button fill="clear" size="small" routerLink="/home">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Volver al inicio
    </ion-button>
  </div>
</ion-footer>
