<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="user-div"><ion-icon (click)="navigateToHome()" class="user-label" name="arrow-back-outline"></ion-icon></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="showAddLocationModal" class="overlay">
    <div class="modal-container">
      <app-add-location-modal (closeModalEvent)="closeAddLocationModal()"></app-add-location-modal>
    </div>
  </div>

  <div style="text-align: center;">
    <ion-item>
      <ion-label style="padding-right: 0px; font-size: 2vh;">
        <ion-icon style="font-size: 2.5vh; vertical-align: bottom;" name="person-outline"></ion-icon>
        <b> Nombre: </b> {{user.firstName}} {{user.lastName}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label style="padding-right: 0px; font-size: 2vh;">
        <ion-icon style="font-size: 2.5vh; vertical-align: bottom;" name="mail-outline"></ion-icon>
        <b> Correo electrónico: </b> {{user.email}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label style="padding-right: 0px; font-size: 2vh;">
        <ion-icon style="font-size: 2.5vh; vertical-align: bottom;" name="call-outline"></ion-icon>
        <b> Teléfono: </b> {{user.phone}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-select interface="popover" placeholder="Direcciones" [(ngModel)]="selectedLocationId" (ionChange)="handleSelection($event)">
        <ion-select-option *ngFor="let item of user.locations" [value]="item.Id">{{item.dir}}</ion-select-option>
        <ion-select-option [value]="'add_new'">Agregar dirección</ion-select-option>
      </ion-select>
      <ion-button *ngIf="selectedLocationId"  fill="clear" slot="end" (click)="removeLocation()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-item>
    
  </div>
  <div *ngIf="isAdmin" style="text-align: center;">
    <ion-button color="secondary" (click)="navigateToAllOrders()">Ver ordenes</ion-button>
  </div>
  <div style="text-align: center;">
    <ion-button color="primary" (click)="logOut()">Cerrar sesión</ion-button>
  </div>
</ion-content>
