<ion-card color="light" style="width: 77vw; max-width: 600px; max-height: 70vh; margin: 0 auto; overflow: auto;">
  <ion-item lines="none" color="translucent" class="tittle-item" style="position: sticky; top: 0; z-index: 1;">
    Confirmar pedido
    <ion-icon name="close" (click)="closeModal()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;"></ion-icon>
  </ion-item>

  <!-- Campo de detalles del pedido -->
  <ion-card color="light" style="height: 33vh; margin-left: 5%; margin-right: 5%; padding-left: 1%; padding-bottom: 1%; padding-right: 1%; margin-bottom: 1vh;">
    <ion-textarea 
      [(ngModel)]="description" 
      class="auto-resize-textarea" 
      style="padding-top: 1vh; height: 100%; white-space: pre-wrap;" 
      label="Ejemplo: sin sal" 
      labelPlacement="floating" 
      fill="outline" 
      placeholder="✏️ Especificar detalles del pedido.
    
📌 **Pedido simple** - Ejemplo (x1 Estandar): 

- Sin sal y sin mayonesa.
    
📌 **Pedido con más de dos platos** - Ejemplo (4 platos, x2 Estandar, x1 Light, x1 Proteico):

- x1 Estandar sin sal para el Lunes.
- x1 Estandar sin mayonesa para el miercoles
- x1 Light sin sal para el miercoles.
- x1 Proteico sin cebolla para el viernes. 
 
📌 Puede dejar este campo vacío si no tiene indicaciones especiales.
">

</ion-textarea>
   
  </ion-card>

<!-- Selector de dirección de envío -->
<div style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%;">
  <ion-select 
    interface="popover" 
    placeholder="Dirección de envío" 
    [(ngModel)]="selectedLocation" 
    (ionChange)="handleSelectionDir($event)">
    
    <ion-select-option *ngFor="let item of locations" [value]="item.dir">
      {{ item.dir }}
    </ion-select-option>
    
    <ion-select-option *ngIf="locations.length === 0" [value]="'add_new'">➕ Agregar nueva dirección</ion-select-option>  
  </ion-select>
</div>


  <!-- Opciones de método de pago -->
  <div style="margin-left: 7%; margin-right: 7%;">
    <ion-segment [(ngModel)]="paymentMethod" (ionChange)="handleSelectionPay($event)">
      <ion-segment-button [value]="0">
        <ion-label style="color: #595755;">Efectivo</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label style="color: #595755;">Transferencia</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Botón para enviar la orden -->
<!-- Botón para enviar la orden -->
<div class="button-container">
  <ion-button class="login-button" (click)="makeOrder()" [disabled]="selectedLocation === 'empty' || !selectedLocation">
    Enviar orden
  </ion-button>
</div>

</ion-card>
