.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .overlay.show {
    animation: fadeIn 0.3s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .menu {
    float: left;
    width: 50%;
    text-align: left;
    vertical-align: bottom;
    font-size: 1.5rem;
    width: 50%;
    height: 24px;
    padding-left: 2vw;
    font-weight: bold;
  }
  
  .login-button { 
    margin-top: 4%;
    font-size: 16px;
    font-weight: bold;
    height: 6%;
    width: 80%;
    color: #595755;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2vh;
  }
  
  .register-button {
    text-align: right;
    float: right;
    transition: all 0.18s ease;
    margin-top: 1.2vh;
    margin-bottom: 1.5vh;
    padding-right: 3vw;
    color: blue;
    cursor: pointer;
    font-size: 1.7vh;
    width: 50%;
  }
  
  .register-button:hover {
    transition: all 0.18s ease;
    color: rgb(116, 116, 241);
    text-decoration: underline;
  }
  
  .retrieve-password-button {
    text-align: left;
    float: left;
    transition: all 0.18s ease;
    margin-top: 1.2vh;
    margin-bottom: 1.5vh;
    padding-left: 3vw;
    cursor: pointer;
    font-size: 1.7vh;
    width: 50%;
  }
  
  .retrieve-password-button:hover {
    transition: all 0.18s ease;
    color: gray;
  }
  
  .tittle-item {
    padding-top: 2vh;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .user-div {
    vertical-align: bottom;
    margin-left: 2vw;
    font-size: 2.5vh;
    text-align: left;
    width: 95%
  }
  
  .user-label {
    cursor: pointer;
  }
  
  .order-button {
  margin-top: 2vh;
  font-size: 16px;
  font-weight: bold;
  height: 6vh;
  width: 88vw;
  color: #595755;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  ion-content {
      --padding-bottom: 16px;
      --padding-top: 16px;
    }
    
    .mosaic {
      padding: 5%;
    }
    
    .square-tile {
      width: 90%;
      padding-bottom: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: relative;
      border-radius: 10px;
      cursor: pointer;
    }
  
    .square-tile:hover {
      ion-icon {
          font-size: 5rem;
          color: #504e4e;
          transition: all 0.18s ease;
      }
    }
    
    .square-tile ion-icon {
      font-size: 3rem;
      color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.18s ease;
    }
  
    .title {
      text-align: center;
      font-weight: bold;
      font-size: large;
      margin-bottom: 5px;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }
    
    .modal-container {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .overlay.show {
      animation: fadeIn 0.3s;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .menu {
      float: left;
      text-align: left;
      vertical-align: bottom;
      font-size: 1.5rem;
      height: 24px;
      padding-left: 2vw;
      font-weight: bold;
    }
    
    .login-button { 
      margin-top: 4%;
      font-size: 16px;
      font-weight: bold;
      height: 6%;
      width: 80%;
      color: #595755;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 1.2vh;
    }
    
    .register-button {
      text-align: right;
      float: right;
      transition: all 0.18s ease;
      margin-top: 1.2vh;
      margin-bottom: 1.5vh;
      padding-right: 3vw;
      color: blue;
      cursor: pointer;
      font-size: 1.7vh;
      width: 50%;
    }
    
    .register-button:hover {
      transition: all 0.18s ease;
      color: rgb(116, 116, 241);
      text-decoration: underline;
    }
    
    .retrieve-password-button {
      text-align: left;
      float: left;
      transition: all 0.18s ease;
      margin-top: 1.2vh;
      margin-bottom: 1.5vh;
      padding-left: 3vw;
      cursor: pointer;
      font-size: 1.7vh;
      width: 50%;
    }
    
    .retrieve-password-button:hover {
      transition: all 0.18s ease;
      color: gray;
    }
    
    .tittle-item {
      padding-top: 2vh;
      font-weight: bold;
      font-size: 2vh;
    }
    
    .user-div {
      vertical-align: bottom;
      margin-left: 2vw;
      font-size: 2.5vh;
    }
    
    .user-label-left {
      float: left;
      cursor: pointer;
    }
    .user-label-right {
      float: right;
      cursor: pointer;
    }
    
    .order-button {
    margin-top: 2vh;
    font-size: 16px;
    font-weight: bold;
    height: 6vh;
    width: 88vw;
    color: #595755;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    ion-content {
        --padding-bottom: 16px;
        --padding-top: 16px;
      }
      
      .mosaic {
        padding: 5%;
        padding-top: 0%;
      }
    
      .web-mosaic {
        padding: 2%;
        padding-top: 0%;
        padding-bottom: 2%;
      }
      
      .square-tile {
        width: 75%;
        padding-bottom: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 10px;
        cursor: pointer;
        
      }
    
      .square-tile-top {
        width: 90%;
        padding-bottom: 37%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 10px;
        cursor: pointer;
      }
    
      .square-tile-web {
        width: 90%;
        padding-bottom: 15%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 10px;
        cursor: pointer;
      }
    
      .square-tile-web-top {
        width: 95%;
        padding-bottom: 7.5%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 10px;
        cursor: pointer;
      }
    
      .square-tile:hover {
        ion-icon {
            font-size: 5rem;
            color: #504e4e;
            transition: all 0.18s ease;
        }
      }
    
      .square-tile-top:hover {
        ion-icon {
            font-size: 5rem;
            color: #504e4e;
            transition: all 0.18s ease;
        }
      }
    
      .square-tile-web:hover {
        ion-icon {
            font-size: 5rem;
            color: #504e4e;
            transition: all 0.18s ease;
        }
      }
    
      .square-tile-web-top:hover {
        ion-icon {
            font-size: 5rem;
            color: #504e4e;
            transition: all 0.18s ease;
        }
      }
      
      .square-tile ion-icon {
        font-size: 3rem;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.18s ease;
      }
    
      .square-tile-top ion-icon {
        font-size: 3rem;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.18s ease;
      }
    
      .square-tile-web ion-icon {
        font-size: 3rem;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.18s ease;
      }
    
      .square-tile-web-top ion-icon {
        font-size: 3rem;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.18s ease;
      }
    
    
      .title {
        text-align: center;
        font-weight: bold;
        font-size: large;
        margin-bottom: 5px;
      }
      
      
      .gradient-toolbar {
        --background: none;
        background: linear-gradient(to top right, #c59fbe, #ffbdb4);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: -15px;
        --border-color: transparent;
      }
      
      .border-header {
        border-bottom-left-radius: 16px;
      }
      
      ion-content {
          --ion-background-radius: 10px;
          overflow: hidden !important;
        }
      
        .custom-content {
          border-top-left-radius: 15px;
          overflow: hidden;
        }
        
        .custom-header {
          height: 80px; /* Ajusta la altura según tus necesidades */
          position: relative;
          z-index: 10; /* Asegura que el header esté por encima del contenido */
        }
        
        .custom-content {
          margin-top: -20px; /* Ajusta este valor según la superposición deseada */
          padding-top: 20px; /* Añade espacio interior si es necesario */
          border-top-left-radius: 30px;
          overflow: hidden;
        }
        
        .gradient-toolbar {
          --background: none;
          background: linear-gradient(to top right, #c59fbe, #ffbdb4);
        }
        
        .menu {
          float: left;
          text-align: left;
          vertical-align: bottom;
          font-size: 1.5rem;
          height: 24px;
          padding-left: 2vw;
          font-weight: bold;
        }
    
        .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }
    
    .modal-container {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .overlay.show {
      animation: fadeIn 0.3s;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .menu {
      float: left;
      text-align: left;
      vertical-align: bottom;
      font-size: 1.5rem;
      height: 24px;
      padding-left: 2vw;
      font-weight: bold;
    }
    
    .custom-header {
      height: 80px;
      position: absolute;
    }
    
    .custom-content {
      margin-top: 20px !important;
      padding-top: 40px;
      border-top-left-radius: 30px;
      overflow: hidden !important;
      z-index: 10;
    }
    
    .gradient-toolbar {
      --background: none;
      background: linear-gradient(to top right, #c59fbe, #ffbdb4);
    }
    
  
    .collapse-icon {
      float: inline-end;
    }
  
    .collapse-icon:hover {
      cursor: pointer;
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }
    
    .modal-container {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .overlay.show {
      animation: fadeIn 0.3s;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    .menu {
      float: left;
      width: 50%;
      text-align: left;
      vertical-align: bottom;
      font-size: 1.5rem;
      width: 50%;
      height: 24px;
      padding-left: 2vw;
      font-weight: bold;
    }
  
    .login-button { 
      margin-top: 4%;
      font-size: 16px;
      font-weight: bold;
      height: 6%;
      width: 80%;
      color: #595755;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 1.2vh;
    }
  
    .register-button {
      text-align: right;
      float: right;
      transition: all 0.18s ease;
      margin-top: 1.2vh;
      margin-bottom: 1.5vh;
      padding-right: 3vw;
      color: blue;
      cursor: pointer;
      font-size: 1.7vh;
      width: 50%;
    }
  
    .register-button:hover {
      transition: all 0.18s ease;
      color: rgb(116, 116, 241);
      text-decoration: underline;
    }
  
    .retrieve-password-button {
      text-align: left;
      float: left;
      transition: all 0.18s ease;
      margin-top: 1.2vh;
      margin-bottom: 1.5vh;
      padding-left: 3vw;
      cursor: pointer;
      font-size: 1.7vh;
      width: 50%;
    }
  
    .retrieve-password-button:hover {
      transition: all 0.18s ease;
      color: gray;
    }
  
    .tittle-item {
      padding-top: 2vh;
      font-weight: bold;
      font-size: 2vh;
    }
  
    .user-div {
      vertical-align: bottom;
      margin-left: 2vw;
      font-size: 2.5vh;
      text-align: left;
  }
  
  .user-label {
      cursor: pointer;
  }
  
  .gradient-toolbar {
    --background: none;
    background: linear-gradient(to top right, #c59fbe, #ffbdb4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: -15px;
    --border-color: transparent;
  }
  
  .border-header {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: -16px;
  }

  /* 🔹 Botón flotante para abrir el filtro */
.filter-toggle {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #4caf50; /* Verde */
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 2001;
}

.filter-toggle:hover {
  background: #388e3c; /* Verde oscuro */
}

/* 🔹 Contenedor del Filtro */
.filter-container {
  position: fixed;
  bottom: 60px;
  right: 15px;
  background: rgba(255, 255, 255, 0.95);
  padding: 12px 18px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
  min-width: 220px; /* 🔹 Aumentamos el ancho */
  max-width: 250px;
}

/* 🔹 Botón de "Restablecer Filtro" */
.reset-button {
  width: 100%;
  font-size: 14px;
  height: 35px;
  margin-top: 8px;
  background: #a5d6a7;
  color: black;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

/* 🔹 Mejoras en el ion-datetime */
ion-datetime {
  --background: white;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --padding: 5px;
  font-size: 14px;
  max-width: 200px; /* 🔹 Aumentamos el ancho */
}
