<ion-content class="ion-padding">
  <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <ion-card style="padding: 24px; border-radius: 16px; background-color: black; color: black; width: 100%; max-width: 400px;">

      <ion-card-header>
        <ion-card-title style="text-align: center; color: white;">¿Olvidaste tu contraseña?</ion-card-title>
        <p style="text-align: center; font-size: 0.9rem; color: #ccc;">Te enviaremos un enlace para restablecerla</p>
      </ion-card-header>

      <form [formGroup]="form">
        <ion-item lines="none" style="margin-bottom: 24px; background-color: #f5f5f5; border-radius: 8px;">
          <ion-label position="stacked" style="color: black;">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="email" style="color: black;"></ion-input>
        </ion-item>

        <ion-button expand="block" color="success" (click)="submit()">
          Enviar enlace
        </ion-button>
      </form>
      
    </ion-card>
  </div>
</ion-content>

<ion-footer style="background: #f4f4f4; padding: 16px; border-top: 1px solid #ddd;">
  <div style="text-align: center;">
    <ion-button fill="clear" size="small" routerLink="/home">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Volver al inicio
    </ion-button>
  </div>
</ion-footer>