<ion-header style="align-items: end">
  <ion-toolbar style="background: #c59fbe; border-radius: 0px; width: 50%;" class="gradient-toolbar custom-header">
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar style="position: relative; height: 50px; border-bottom-right-radius: 30px;" class="gradient-toolbar custom-header">
    <div class="menu">Panel de administrador</div>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <div *ngIf="activeModal === 4" class="overlay">
    <div class="modal-container">
      <app-role-modal (closeModalEvent)="closeModal()"></app-role-modal>
    </div>
  </div>

  <div *ngIf="activeModal === 5" class="overlay">
    <div class="modal-container">
      <app-pinpoint-map (closeModalEvent)="closeModal()"></app-pinpoint-map>
    </div>
  </div>
  <ion-grid *ngIf="!isWeb" >
    <ion-row>
      <ion-col size="6" class="mosaic">
        <div class="title">Ver ordenes</div>
        <div style="background-color: var(--ion-color-secondary);" class="square-tile" (click)="activateOrdersModal()">
          <ion-icon name="book-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" class="mosaic">
        <div class="title">Agregar menús</div>
        <div style="background-color: var(--ion-color-primary);" class="square-tile" (click)="activateMenusModal()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="mosaic">
        <div class="title">Ver estadisticas</div>
        <div style="background-color: var(--ion-color-warning);" class="square-tile" (click)="activateStatsModal()">
          <ion-icon name="bar-chart-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" class="mosaic">
        <div class="title">Dar rol</div>
        <div style="background-color: var(--ion-color-success);" class="square-tile" (click)="activateRoleModal()">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="mosaic">
        <div class="title">Ver direcciónes</div>
        <div style="background-color: var(--ion-color-warning-shade);" class="square-tile" (click)="activateLocationModal()">
          <ion-icon name="location-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" class="mosaic">
        <div class="title">Info pago</div>
        <div style="background-color: var(--ion-color-danger-shade);" class="square-tile" (click)="activatePaymentInfoModal()">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col size="12" class="mosaic">
        <div class="title">Volver</div>
        <div style="background-color: var(--ion-color-secondary-tint);" class="square-tile-top" (click)="navigateToProfile()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isWeb" >
    <ion-row>
      <ion-col size="6" class="web-mosaic">
        <div class="title">Ver ordenes</div>
        <div style="background-color: var(--ion-color-secondary);" class="square-tile-web" (click)="activateOrdersModal()">
          <ion-icon name="book-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" class="web-mosaic">
        <div class="title">Agregar menús</div>
        <div style="background-color: var(--ion-color-primary);" class="square-tile-web" (click)="activateMenusModal()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="web-mosaic">
        <div class="title">Ver estadisticas</div>
        <div style="background-color: var(--ion-color-warning);" class="square-tile-web" (click)="activateStatsModal()">
          <ion-icon name="bar-chart-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" class="web-mosaic">
        <div class="title">Dar rol</div>
        <div style="background-color: var(--ion-color-success);" class="square-tile-web" (click)="activateRoleModal()">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="web-mosaic">
        <div class="title">Ver direcciónes</div>
        <div style="background-color: var(--ion-color-warning-shade);" class="square-tile-web" (click)="activateLocationModal()">
          <ion-icon name="location-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" class="web-mosaic">
        <div class="title">Info pago</div>
        <div style="background-color: var(--ion-color-danger-shade);" class="square-tile-web" (click)="activatePaymentInfoModal()">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="web-mosaic">
        <div class="title">Volver</div>
        <div style="background-color: var(--ion-color-secondary-tint);" class="square-tile-web-top" (click)="navigateToProfile()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>