<ion-card color="light" style="width: 77vw; max-width: 600px; margin: 0 auto; position: relative;">
  <ion-item lines="none" color="translucent" class="tittle-item">
    Registrarse 
    <ion-icon name="close" (click)="closeModal()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;"></ion-icon>
  </ion-item>
  <form [formGroup]="registerForm">
    
    <!-- Nombre -->
    <ion-item color="translucent">
      <ion-input label="Nombre *" formControlName="firstName" type="text" placeholder="Juan"></ion-input>
    </ion-item>
    <small *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" style="color: red;">❌ Campo obligatorio.</small>

    <!-- Apellido -->
    <ion-item color="translucent">
      <ion-input label="Apellido *" formControlName="lastName" type="text" placeholder="Perez"></ion-input>
    </ion-item>
    <small *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" style="color: red;">❌ Campo obligatorio.</small>

    <!-- Teléfono -->
    <ion-item color="translucent">
      <ion-input label="Prefijo *" formControlName="preFix" type="tel" placeholder="54"></ion-input>
      <ion-input label="Código de área *" formControlName="areaCode" type="tel" placeholder="223"></ion-input>
      <ion-input label="Número *" formControlName="phone" type="tel" placeholder="1234567"></ion-input>
    </ion-item>
    <small *ngIf="registerForm.get('preFix')?.invalid && registerForm.get('preFix')?.touched" style="color: red;">
      ❌ El prefijo debe tener **2 dígitos**.
    </small>
    
    <small *ngIf="registerForm.get('areaCode')?.invalid && registerForm.get('areaCode')?.touched" style="color: red;">
      ❌ El código de área debe tener **entre 2 y 4 dígitos**.
    </small>
    
    <small *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" style="color: red;">
      ❌ El número debe tener **entre 6 y 8 dígitos**.
    </small>
    <!-- Email -->
    <ion-item color="translucent">
      <ion-input label="Correo Electrónico *" formControlName="email" type="email" placeholder="ejemplo@dominio.com"></ion-input>
    </ion-item>
    <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" style="color: red;">❌ Ingrese un correo válido.</small>

    <!-- Contraseña -->
    <ion-item color="translucent">
      <ion-input label="Contraseña *" formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"></ion-input>
      <ion-icon name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" (click)="togglePasswordVisibility()" style="cursor: pointer;"></ion-icon>
    </ion-item>
    <small *ngIf="registerForm.get('password')?.hasError('minlength')" style="color: red;">
      ❌ La contraseña debe tener al menos 6 caracteres.
    </small>
    
    

    <!-- Repetir Contraseña -->
    <ion-item color="translucent">
      <ion-input label="Repetir Contraseña *" formControlName="repeatPassword" [type]="showPassword ? 'text' : 'password'" placeholder="Repetir contraseña"></ion-input>
    </ion-item>

    <small *ngIf="registerForm.hasError('mismatch')" style="color: red;">
      ❌ Las contraseñas no coinciden.
    </small>

  </form>

  <div class="button-container">
    <ion-button class="login-button" (click)="registerUser()" [disabled]="!registerForm.valid">Registrarse</ion-button>
  </div>
</ion-card>
