.menu {
    float: left;
    width: 50%;
    text-align: left;
    vertical-align: bottom;
    font-size: 1.5rem;
    width: 50%;
    height: 24px;
    padding-left: 2vw;
    font-weight: bold;
  }

  .login-button { 
    margin-top: 4%;
    font-size: 16px;
    font-weight: bold;
    height: 6%;
    width: 80%;
    color: #595755;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .register-button {
    text-align: right;
    float: right;
    transition: all 0.18s ease;
    margin-top: 1.2vh;
    margin-bottom: 1.5vh;
    padding-right: 3vw;
    color: blue;
    cursor: pointer;
    font-size: 1.7vh;
    width: 50%;
  }

  .register-button:hover {
    transition: all 0.18s ease;
    color: rgb(116, 116, 241);
    text-decoration: underline;
  }

  .retrieve-password-button {
    text-align: left;
    float: left;
    transition: all 0.18s ease;
    margin-top: 1.2vh;
    margin-bottom: 1.5vh;
    padding-left: 3vw;
    cursor: pointer;
    font-size: 1.7vh;
    width: 50%;
  }

  .retrieve-password-button:hover {
    transition: all 0.18s ease;
    color: gray;
  }

  .tittle-item {
    padding-top: 2vh;
    font-weight: bold;
    font-size: 2vh;
  }

  .user-div {
    vertical-align: bottom;
    margin-left: 2vw;
    font-size: 2.5vh;
    text-align: left;
    width: 50%;
}

.user-label {
    vertical-align: bottom;
    cursor: pointer;
}

.phone-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.country-select {
  max-width: 110px; // Reduce el ancho del selector para que no sea tan grande
  min-width: 90px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.phone-group {
  flex-grow: 1; // Hace que el input del teléfono ocupe el espacio restante
}
@media (max-width: 600px) {  /* 🔹 Aplicar solo en mobile */
  .phone-group {
    flex-direction: column;
    gap: 8px;
  }
}
.country-select {
  max-width: 120px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}
@media (max-width: 768px) { 
  ion-card {
    max-height: 40vh !important; // Reduce más la altura para evitar que la contraseña quede oculta
    overflow-y: auto !important;
  }

  .phone-container {
    display: flex;
    flex-direction: column; // En mobile, se apilan los elementos para mejor visibilidad
    gap: 8px;
  }

  .auto-resize-textarea {
    min-height: 20vh !important;
    max-height: 50vh !important;
    overflow-y: auto !important;
  }
  .button-container {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}
