<ion-header style="align-items: end">
  <ion-toolbar style="background: #c59fbe; border-radius: 0px; width: 50%;" class="gradient-toolbar custom-header">
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar style="position: relative; height: 50px; border-bottom-right-radius: 30px;" class="gradient-toolbar custom-header">
    <div class="user-div">
      <ion-icon (click)="navigateToProfile()" class="user-label-left" name="arrow-back-outline"></ion-icon>
    </div>
    <ion-buttons slot="end">
      <ion-button expand="full" color="black" (click)="hidePastOrders()">
        {{ pastOrdersHidden ? 'Mostrar Órdenes Viejas' : 'Limpiar Órdenes Viejas' }}
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">

  <app-payment-info 
  *ngIf="paymentInfoModalIsActive" 
  (closeModalEvent)="closePaymentInfoModal()" 
  [CBU]="contact.cbu" 
  [alias]="contact.alias" 
  [name]="contact.name" 
  [phone]="contact.phone"
  [total]="toPayTotal">
</app-payment-info>
  
  <!-- Botón flotante para abrir el filtro -->
  <div class="filter-toggle" (click)="toggleFilter()">
    📅 Filtrar
  </div>

  <!-- Contenedor del Filtro (oculto por defecto) -->
  <div class="filter-container" *ngIf="showFilter">
    <ion-item class="filter-item">
      <ion-label position="stacked">Filtrar por Fecha</ion-label>
      <ion-datetime 
        displayFormat="YYYY-MM-DD" 
        [(ngModel)]="filterDate" 
        (ionChange)="filterOrders()">
      </ion-datetime>
    </ion-item>

    <ion-button expand="block" (click)="resetFilter()" class="reset-button">
      Restablecer
    </ion-button>
  </div>

  <!-- LISTA DE ÓRDENES FILTRADAS -->
  <ion-card color="light" *ngFor="let order of filteredOrders" class="order-card">
    <ion-card-header>
      <b>Nro. orden: {{order.id}}</b>
    </ion-card-header>

    <ion-card-content>
      <div><b>Descripción: </b>{{ order.description || 'Sin descripción' }}</div>
      <div><b>Método de pago: </b> {{ order.paymentMethod === 0 ? 'Efectivo' : 'Transferencia' }}</div>
      <div><b>Cantidad de Platos: </b>{{ order.totalPlates }}</div>
      <div><b>Dirección: </b>{{ order.location }}</div>

      <div *ngFor="let date of getObjectKeys(order.groupedDeliveries)">
        <b>{{ date }}</b>  
        <div *ngFor="let delivery of order.groupedDeliveries[date]">
          🍽️ {{ delivery.type }} - Cantidad: {{ delivery.quantity }}
        </div>
      </div>

      <div style="font-size: x-large; font-weight: bold;">
        <div style="float: inline-start">Total: </div> 
        <div style="float: inline-end;">${{order.price}}</div>
      </div>

      <!-- Botón de Realizar Pago (solo para transferencia) -->
      <div *ngIf="order.paymentMethod === 1">
        <ion-button color="success" expand="block" (click)="openPaymentInfoModal(order)">
          💳 Realizar Pago
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
