<ion-header style="align-items: end">
  <ion-toolbar style="background: #c59fbe; border-radius: 0px; width: 50%;" class="gradient-toolbar custom-header">
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar style="position: relative; height: 50px; border-bottom-right-radius: 30px;" class="gradient-toolbar custom-header">
    <div class="user-div">
      <ion-icon (click)="navigateToProfile()" class="user-label-left" name="arrow-back-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <app-payment-info 
    *ngIf="paymentInfoModalIsActive" 
    (closeModalEvent)="closePaymentInfoModal()" 
    [CBU]="contact.cbu" 
    [alias]="contact.alias" 
    [name]="contact.name" 
    [phone]="contact.phone"
    [total]="toPayTotal">
  </app-payment-info>

  <ion-card color="light" *ngFor="let order of toDisplayOrders" style="width: 77vw; max-width: 900px; margin: auto; margin-top: 2vh;">
    <ion-card-header style="color: black; font-weight: bold; font-size: large;">
      <div>
        Resumen de Orden
        <ion-icon class="collapse-icon" *ngIf="order.isCollapsed" name="chevron-down-outline" (click)="uncollapseOrder(order)"></ion-icon>
        <ion-icon class="collapse-icon" *ngIf="!order.isCollapsed" name="chevron-up-outline" (click)="collapseOrder(order)"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="!order.isCollapsed">
      <!-- Mostrar la descripción o 'Sin descripción' -->
      <div>
        <b style="color: black;">Descripción: </b>{{ order.description ? order.description : 'Sin descripción' }}
      </div>

      <div>
        <b style="color: black;">Método de pago: </b> 
        <span *ngIf="order.paymentMethod === 0">Efectivo</span>
        <span *ngIf="order.paymentMethod === 1">Transferencia</span>
      </div>

      <div>
        <b style="color: black;">Cantidad de Platos: </b>{{order.totalPlates}}
      </div>

      <!-- Mostrar el tipo de menú -->
      <div>
        <b style="color: black;">Tipo de Menú: </b>
        <span *ngIf="order.menuCounts.estandar > 0">Estandar x{{order.menuCounts.estandar}}, </span>
        <span *ngIf="order.menuCounts.light > 0">Light x{{order.menuCounts.light}}, </span>
        <span *ngIf="order.menuCounts.proteico > 0">Proteico x{{order.menuCounts.proteico}}</span>
      </div>

      <div>
        <b style="color: black;">Días de Entrega: </b>{{order.daysOfWeek.join(', ')}}
      </div>

      <div style="font-size: x-large; color: black; font-weight: bold;">
        <div style="float: inline-start">Total: </div> 
        <div style="float: inline-end;">${{order.price}}</div>
      </div>

      <div style="margin: 50px 0;"></div>

      <!-- Botones de acción -->
      <div>
        <ion-button color="danger" style="float: inline-start; margin-bottom: 1vh;" (click)="cancelOrder(order.id)">
          Cancelar
        </ion-button>

        <!-- Mostrar el botón "Realizar pago" solo para órdenes con transferencia -->
        <ion-button 
          *ngIf="order.paymentMethod === 1" 
          color="success" 
          style="float: inline-end; margin-bottom: 1vh;" 
          (click)="openPaymentInfoModal(order)">
          Realizar pago
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>



<!--app-support-button [phone]="contact.phone" [wppMessage]="contact.wppMessage"></app-support-button-->