<ion-header style="align-items: end">
  <ion-toolbar style="background: #c59fbe; border-radius: 0px; width: 50%;" class="gradient-toolbar custom-header">
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar style="position: relative; height: 50px; border-bottom-right-radius: 30px;" class="gradient-toolbar custom-header">
    <div class="menu">Menú</div>
    <div *ngIf="logged === true" class="user-div"><ion-icon (click)="navigateToProfile()" class="user-label" name="person-outline"></ion-icon></div>
    <div *ngIf="logged === false" class="user-div"><ion-icon (click)="navigateToLogin()" class="user-label" name="log-in-outline"></ion-icon></div>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <div *ngIf="showOrderDetailsModal" class="overlay">
    <div class="modal-container">
      <app-add-details-modal *ngIf="showOrderDetailsModal" [orders]="placeOrder" [locations]="dataResponse.model.locations" (closeModalEvent)="closeOrderDetailsModal()"></app-add-details-modal>
    </div>
  </div>

  <div *ngIf="showOrderResumeModal" class="overlay">
    <div class="modal-container">
      <app-order-resume *ngIf="showOrderResumeModal" [total]="total" [orders]="orders" (makeOrderEvent)="navigateToOrderDetails()" (closeModalEvent)="closeOrderResumeModal()"></app-order-resume>
    </div>
  </div>

  <div *ngIf="showLoginModal" class="overlay">
    <div class="modal-container">
      <app-login-modal (closeModalEvent)="closeLoginModal()" (openRegisterModalEvent)="navigateToRegister()" (openChangePasswordModalEvent)="navigateToChangePassword()"></app-login-modal>
    </div>
  </div>

  <div *ngIf="showRegisterModal" class="overlay">
    <div class="modal-container">
      <app-register-modal (closeModalEvent)="closeRegisterModal()" (openChangePasswordEvent)="navigateToChangePassword()"></app-register-modal>
    </div>
  </div>

  <div *ngIf="showChangePasswordModal" class="overlay">
    <div class="modal-container">
      <app-change-password-modal (closeModalEvent)="closeChangePasswordModal()" (openRegisterModalEvent)="navigateToRegister()"></app-change-password-modal>
    </div>
  </div>

  <ion-item *ngIf="isDesktop"  color="none" lines="none" style="margin-left: 14.99vw; width: 76.5vw;">
    <div [class]="day.class" *ngFor="let day of daysOfWeek">{{day.day}}, {{daysOfWeek.indexOf(day) + 1}}</div>
  </ion-item>

  <div class="carousel-container">
    <div *ngIf="!isDesktop"  style="padding-top: 2.7vh;" class="card-container">
      <ion-card color="warning" class="card" data-text="Estandar"></ion-card>
      <ion-card color="danger" class="card" data-text="Light"></ion-card>
      <ion-card color="success" class="card" data-text="Proteico"></ion-card>
    </div>

    <div *ngIf="isDesktop" class="card-container">
      <ion-card color="warning" class="card" data-text="Estandar"></ion-card>
      <ion-card color="danger" class="card" data-text="Light"></ion-card>
      <ion-card color="success" class="card" data-text="Proteico"></ion-card>
    </div>
  
    <div class="carousel-content-wrapper" #carouselContentWrapper>
      <div class="carousel-content">
        <div class="carousel-set" *ngFor="let set of carouselSets">
          <div style="font-size: large; font-weight: bold; margin: auto;" *ngIf="set[0].day === 1 && !isDesktop" >Lunes</div>
          <div style="font-size: large; font-weight: bold; margin: auto;" *ngIf="set[0].day === 2 && !isDesktop" >Martes</div>
          <div style="font-size: large; font-weight: bold; margin: auto;" *ngIf="set[0].day === 3 && !isDesktop" >Miercoles</div>
          <div style="font-size: large; font-weight: bold; margin: auto;" *ngIf="set[0].day === 4 && !isDesktop" >Jueves</div>
          <div style="font-size: large; font-weight: bold; margin: auto;" *ngIf="set[0].day === 5 && !isDesktop" >Viernes</div>
          <div class="carousel-item" *ngFor="let item of set">
            <div class="image-container">
              <div class="image-container">
                <!-- Mostrar la imagen del producto si está disponible y ya ha sido sanitizada -->
                <img class="image-good" *ngIf="item.hasImage && item.sanitizedImagePath" [src]="item.sanitizedImagePath">
                
                <!-- Mostrar la imagen predeterminada si no hay imagen del producto -->
                <img class="image-default" *ngIf="!item.hasImage || !item.sanitizedImagePath" src="./assets/media/Default.png">
              </div>
              
            </div>
            
            <div style="margin-top: 0.5vh; margin-bottom: 0px; padding-top: 0px; font-size: 2vh;">
              {{item.name}}
            </div>
            <div style="padding-top: 0.15vh; font-size: 2.5vh; font-weight: bold;">
              ${{item.price}}
              <ion-icon *ngIf="item.cartPressed === true" class="cart-badge" name="add-outline" (click)="addToCart(item)"></ion-icon>
              <ion-icon *ngIf="item.cartPressed === false" class="cart-badge" [name]=icon (click)="pressCart(item)"></ion-icon>
              <ion-badge style="cursor: default;" *ngIf="item.cartPressed === true" class="cart-badge" color="light">{{item.total}}</ion-badge>
              <ion-icon *ngIf="item.cartPressed === true && item.total >= 1" class="cart-badge" name="remove-outline" (click)="removeFromCart(item)"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center;">
    <ion-button lines="none" color="primary" class="order-button" (click)="makeOrder()">Realizar pedido</ion-button>
  </div>
</ion-content>
