#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.user-label {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
}

.user-label ion-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.user-label ion-icon:hover {
  transform: scale(1.15);
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

.carousel-container {
  display: flex;
  align-items: flex-start;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.card {
  width: 14vw;
  height: 22vh;
  min-height: 22vh;
  margin-top: 1vw;
  margin-bottom: 6vw;
  margin-left: -50%;
  margin-right: -50%;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: attr(data-text);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: rotate(-90deg);
  transform-origin: left top;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.carousel-content-wrapper {
  overflow: hidden;
  height: calc(22vh * 3 + 20vw);
  max-width: 76vw;
}

.carousel-content {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-set {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  margin-right: 1vw;
}

.carousel-item {
  width: 76vw; 
  height: 22vh;
  flex-shrink: 0;
  padding: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: #ffbdb4;
  border: 1px solid #ccc;
  margin-bottom: 7vw;
  text-align: center;
}


.custom-button-left {
  position: absolute;
  cursor: pointer;
  left: 10px;
  margin: auto;
  transition: transform 0.3s ease;
}

.custom-button-right {
  position: absolute;
  cursor: pointer;
  right: 20px;
  margin: auto;
}

.custom-button-left:hover {
  transition: transform 0.3s ease;
  color: #8c8c8c;
}

.custom-button-right:hover {
  transition: transform 0.3s ease;
  color: #8c8c8c;
}

.order-button {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
  height: 6vh;
  width: 88vw;
}

ion-button {
  text-transform: none;
 }
 
