<ion-card color="light" style="width: 77vw; max-width: 600px; max-height: 70vh; margin: 0 auto; overflow: auto; overflow: auto;">
  <ion-item lines="none" color="translucent" class="tittle-item" style="position: sticky; top: 0; z-index: 1;">Resumen de órden<ion-icon name="close" (click)="closeModal()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;"></ion-icon>
  </ion-item>
    <div style="margin-bottom: 1vh;" *ngFor="let order of orders">
      <b *ngIf="order.hasOrder" style="padding-left: 5%; font-size: large;">{{order.dayOfWeek}}</b>
      <div *ngFor="let delivery of order.deliveries">     
        <div *ngIf="delivery.quantity > 0">
          <div style="padding-left: 5%;">
            <b>{{delivery.productName}}</b> <div>${{delivery.productPrice}} x {{delivery.quantity}} = ${{delivery.productPrice * delivery.quantity}}</div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-left: 5%; font-size: xx-large;" *ngIf="total >= 0" >
      <b>Total:</b> ${{total}}
    </div>
  <div class="button-container">
    <ion-button class="login-button" (click)="makeOrder()">Confirmar órden</ion-button>
  </div>
</ion-card>
