<ion-card color="light" style="width: 77vw; max-width: 600px; margin: 0 auto; position: relative;">
  <ion-item lines="none" color="translucent" class="tittle-item">Resumen de órden<ion-icon name="close" (click)="closeModal()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;"></ion-icon>
  </ion-item>
    <ion-item>
      item 1
    </ion-item>
  <div class="button-container">
    <ion-button class="login-button" (click)="makeOrder()">Confirmar órden</ion-button>
  </div>
</ion-card>
