.menu {
  float: left;
  width: 50%;
  text-align: left;
  vertical-align: bottom;
  font-size: 1.5rem;
  padding-left: 2vw;
  font-weight: bold;
}

.login-button { 
  margin-top: 4%;
  font-size: 16px;
  font-weight: bold;
  height: 6%;
  width: 80%;
  color: #595755;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2vh;
}

.register-button {
  text-align: right;
  float: right;
  transition: all 0.18s ease;
  margin-top: 1.2vh;
  margin-bottom: 1.5vh;
  padding-right: 3vw;
  color: blue;
  cursor: pointer;
  font-size: 1.7vh;
  width: 50%;
}

.register-button:hover {
  transition: all 0.18s ease;
  color: rgb(116, 116, 241);
  text-decoration: underline;
}

.retrieve-password-button {
  text-align: left;
  float: left;
  transition: all 0.18s ease;
  margin-top: 1.2vh;
  margin-bottom: 1.5vh;
  padding-left: 3vw;
  cursor: pointer;
  font-size: 1.7vh;
  width: 50%;
}

.retrieve-password-button:hover {
  transition: all 0.18s ease;
  color: gray;
}

.tittle-item {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: larger;
}

.user-div {
  vertical-align: bottom;
  margin-left: 2vw;
  font-size: 2.5vh;
  text-align: left;
  width: 50%;
}

.user-label {
  vertical-align: bottom;
  cursor: pointer;
}

/* Nuevos estilos para los precios */
.normal-price {
  color: gray;
  text-decoration: line-through;
  font-size: 0.9rem;
  margin-right: 5px;
}

.promo-price {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Estilos para el total */
.total-container {
  padding-left: 5%;
  font-size: 1rem;
  margin-top: 10px;
}

.total-normal {
  text-decoration: line-through;
  color: red;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.total-discount {
  color: green;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Botones */
.button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.custom-button {
  --background: #4CAF50; /* Verde elegante */
  --background-hover: #45a049;
  --color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 12px;
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.05);
}

ion-label {
  font-size: 1rem;
  color: #333;
}

ion-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
