<ion-card color="light" style="width: 77vw; max-width: 600px; max-height: 70vh; margin: 0 auto; overflow: auto;">
  <ion-item lines="none" color="translucent" class="tittle-item" style="position: sticky; top: 0; z-index: 1;">
    Resumen de orden
    <ion-icon
      name="close"
      (click)="closeModal()"
      style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;">
    </ion-icon>
  </ion-item>
  <div style="margin-bottom: 1vh;" *ngFor="let order of orders">
    <b *ngIf="order.hasOrder" style="padding-left: 5%; font-size: large;">{{ order.dayOfWeek }}</b>
    <div *ngFor="let delivery of order.deliveries">
      <div *ngIf="delivery.quantity > 0" style="padding-left: 5%;">
        <b>{{ delivery.productName }}</b>
        <div>
          <span
            *ngIf="applyGlobalDiscount()"
            style="text-decoration: line-through; color: red; margin-right: 4px;">
            ${{ delivery.productPrice }}
          </span>
          ${{ applyGlobalDiscount() ? delivery.productPromoPrice : delivery.productPrice }}
          x {{ delivery.quantity }} =
          ${{ (applyGlobalDiscount() ? delivery.productPromoPrice : delivery.productPrice) * delivery.quantity }}
        </div>
      </div>
    </div>
  </div>

  <div style="padding-left: 5%; font-size: large;" *ngIf="total >= 0">
    <!-- 🔹 Mostrar solo el total normal mientras el valor aún no se ha cargado o si no aplica el descuento -->
    <b *ngIf="minimoPlatosDescuento === undefined || !applyGlobalDiscount()" style="display: block;">
      Total: ${{ total }}
    </b>
  
    <!-- 🔹 Si se aplica el descuento, mostrar el total normal tachado y el nuevo total con descuento -->
    <b *ngIf="minimoPlatosDescuento !== undefined && applyGlobalDiscount()" style="display: block;">
      <span style="text-decoration: line-through; color: red;">Total Normal: ${{ total }}</span>
    </b>
    <b *ngIf="minimoPlatosDescuento !== undefined && applyGlobalDiscount()" style="display: block; color: green;">
      Total con Descuento Aplicado: ${{ finalDiscountedTotal }}
    </b>
  </div>
  
  

  <div class="button-container" style="display: flex; justify-content: space-between; padding: 10px;">
    <ion-button class="cancel-button" style="background-color: red !important; border-color: red !important; color: rgba(0, 0, 0, 0.473) !important; width: 45%;"  (click)="closeModal()">Cancelar Orden</ion-button>
    <ion-button class="confirm-button" style="background-color: #A5D6A7 !important; border-color: #81C784 !important; color: rgba(0, 0, 0, 0.473) !important; width: 45%;" (click)="makeOrder()">
      Confirmar Orden
    </ion-button>
    
  </div>
</ion-card>
