<ion-card color="light" style="width: 77vw; max-width: 600px; margin: 0 auto; position: relative;">
  <ion-item lines="none" color="translucent" class="tittle-item">
    Cambiar contraseña 
    <ion-icon name="close" (click)="closeModal()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;"></ion-icon>
  </ion-item>

  <form [formGroup]="registerForm">
    <!-- Email -->
    <ion-item color="translucent" style="display: flex; flex-direction: column; align-items: flex-start;">
      <ion-label position="floating" style="margin-bottom: 8px;">
        Email <span style="color: red;">*</span>
      </ion-label>
      <ion-input 
        style="border-radius: 20px;"
        formControlName="email"
        type="email"
        fill="clear"
        placeholder="ejemplo@dominio.com">
      </ion-input>
    </ion-item>

    <!-- Teléfono -->
    <ion-item color="translucent" style="display: flex; flex-direction: column; align-items: flex-start;">
      <ion-label position="floating" style="margin-bottom: 8px;">
        Teléfono <span style="color: red;">*</span>
      </ion-label>
      <div style="display: flex; width: 100%; justify-content: space-between;">
        <ion-input 
          style="border-radius: 10px; width: 20%;"
          placeholder="54"
          formControlName="preFix"
          type="tel"
          fill="clear"
          maxlength="2">
        </ion-input>
        <ion-input 
          style="border-radius: 10px; width: 30%;"
          placeholder="223"
          formControlName="areaCode"
          type="tel"
          fill="clear"
          maxlength="3">
        </ion-input>
        <ion-input 
          style="border-radius: 10px; width: 45%;"
          placeholder="1234567"
          formControlName="phone"
          type="tel"
          fill="clear"
          maxlength="7">
        </ion-input>
      </div>
    </ion-item>

    <!-- Contraseña -->
    <ion-item color="translucent">
      <ion-label position="floating" style="margin-bottom: 8px;">
        Contraseña <span style="color: red;">*</span>
      </ion-label>
      <ion-input 
        style="border-radius: 20px;"
        formControlName="password"
        type="password"
        fill="clear">
      </ion-input>
    </ion-item>

    <!-- Repetir Contraseña con asterisco -->
    <ion-item color="translucent">
      <ion-label position="floating" style="margin-bottom: 8px;">
        Repetir contraseña <span style="color: red;">*</span>
      </ion-label>
      <ion-input 
        style="border-radius: 20px;"
        formControlName="repeatPassword"
        type="password"
        fill="clear">
      </ion-input>
    </ion-item>
  </form>

  <!-- Botón -->
  <div class="button-container">
    <ion-button class="login-button" (click)="registerUser()">Cambiar contraseña</ion-button>
  </div>
</ion-card>
