<ion-card color="light" style="width: 77vw; margin: 0 auto; position: relative;">
  <ion-item lines="none" color="translucent" class="tittle-item">Cambiar contraseña <ion-icon name="close" (click)="closeModal()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;"></ion-icon>
  </ion-item>
  <form [formGroup]="registerForm">
    <ion-item color="translucent">
      <ion-input 
      style="margin: 0 auto; border-radius: 20px;"
      label="Email"
      labelPlacement="floating" 
      placeholder="ejemplo@dominio.com"
      formControlName="email"
      type="email"
      fill="clear"></ion-input>
    </ion-item>
    <ion-item color="translucent">
      <ion-input 
      style="margin: 0 auto; border-radius: 20px; width: 20%;"
      label="Prefijo"
      labelPlacement="stacked" 
      placeholder="54"
      formControlName="preFix"
      type="tel"
      fill="clear"
      maxlength="2"
      ></ion-input>
      <ion-input 
      style="margin: 0 auto; border-radius: 20px; width: 30%;"
      label="Codigo de área"
      labelPlacement="stacked" 
      placeholder="223"
      formControlName="areaCode"
      type="tel"
      fill="clear"
      maxlength="3"></ion-input>
      <ion-input 
      style="margin: 0 auto; border-radius: 20px;"
      label="Número"
      labelPlacement="stacked" 
      placeholder="1234567"
      formControlName="phone"
      type="tel"
      fill="clear"
      maxlength="7"></ion-input>
    </ion-item>
    <ion-item color="translucent">
      <ion-input 
      style="margin: 0 auto; border-radius: 20px;"
      label="Contraseña"
      labelPlacement="floating" 
      placeholder="Contraseña"
      formControlName="password"
      type="password"
      fill="clear"></ion-input>
    </ion-item>
    <ion-item color="translucent">
      <ion-input 
      style="margin: 0 auto; border-radius: 20px;"
      label="Repetir contraseña"
      labelPlacement="floating" 
      placeholder="Repetir contraseña"
      formControlName="repeatPassword"
      type="password"
      fill="clear"></ion-input>
    </ion-item>
  </form>
  <div class="button-container">
    <ion-button class="login-button" (click)="registerUser()">Cambiar contraseña</ion-button>
  </div>
</ion-card>
