<div class="overlay">
  <div class="modal-container">
    <ion-card color="light" style="width: 77vw; margin: 0 auto; position: relative;">
      <ion-item lines="none" color="translucent" class="tittle-item">
        Algo salió mal!
      </ion-item>
      
      <ion-item lines="none" color="translucent">
        No tenés permisos para visitar esta página.
      </ion-item>

      <div class="button-container">
        <ion-button class="login-button" (click)="navigateHome()">Volver a inicio</ion-button>
      </div>
    </ion-card>
  </div>
</div>
